@{
    Layout = null;
}

    <head>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?parameter=1"
              rel="stylesheet">
        <link href="../css/simple-sidebar.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script>
            $("#menu-toggle").click(function(e) {
              e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });
        </script>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>
<style>
    .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, #0072ff, #8811c5);
        color: #fff;
        font-weight: bold;
        line-height: 80px;
    }

    .form-content {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
    }

    .form-control {
        border-radius: 1.5rem;
    }

    .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #0062cc;
        color: #fff;
    }
</style>
<html>
<body dir="rtl">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Client App
                    </a>
                </li>
                <li>
                    <a href="~/Reg/Index">ثبت نام کاربر</a>
                </li>
                <li>
                    <a href="~/Loging/Index">ورود کاربر</a>
                </li>
                <li>
                    <a href="~/ForgetPass/Index">فراموشی رمز عبور</a>
                </li>
                <li>
                    <a href="~/Packages/Index">مشاهده تمام اپلیکیشن ها بارگذاری شده</a>
                </li>
                <li>
                    <a href="~/CreatePackages/Index">افزودن برنامه جدید</a>
                </li>
                <li>
                    <a href="~/UserInformation/Index">نمایش اطلاعات کاربری</a>
                </li>
                <li>
                    <a href="~/ChangePass/Index">تغیر رمز عبور</a>
                </li>
            </ul>
        </div>
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>فراموشی رمز عبور</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input id="email" type="text" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input id="username" type="text" class="form-control" placeholder="UserName *" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="padding-right:40%">
                        </div>
                        <button type="button" class="btnSubmit" onclick="CallRestMethod()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function CallRestMethod() {
            alert("WELCOME");
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            $.ajax({
                type: "POST",
                url: 'ForgetPass/CallRestMethod',
                data: "username=" + username + "&email=" + email,
                contentType: "application/x-www-form-urlencoded",
                success: function (msg) {
                    $("#divResult").html("success");
                },
                error: function (e) {
                    $("#divResult").html("Something Wrong.");
                }
            });
        }
    </script>
</body>
</html>